doctype html
html(lang="en")
head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    //compiled css output 
    link(href='css/ionic.app.css', rel='stylesheet')
    //ionic/angularjs js 
    script(src='lib/ionic/js/ionic.bundle.js')
    //cordova script (this will be a 404 during development) 
    script(src='cordova.js')
    //your app's js 
    script(src='js/app.js')
    script(src='js/utils.js')
    script(src='js/controllers.js')
    script(src='js/services.js')

  body(ng-app='eloquence')
    ion-pane
      ion-header-bar.bar-stable
        h1.title Eloquence

      ion-content(ng-controller='SentenceCtrl', has-header="true" padding="true")
        label.item.item-input
          textarea.sentence-input(placeholder="Enter sentence", ng-model="sentenceInput", type="text")
        button.button.button-positive.button-full(on-touch="callSentenceAPI()") Go
        p.sentence {{getSentenceTransformed()}}

        .list
            .item.item-divider Parameters
            .item.range
                span Complexity
                input(type="range",min="0",max="3",ng-model="filters.complexity")
            .item.range
                span Length
                input(type="range",min="0",max="3",ng-model="filters.length")
            .item.item-toggle
                span Informal
                label.toggle
                    input(type='checkbox', ng-model="filters.informal")
                    .track
                        .handle
            .item.item-toggle
                span Common
                label.toggle
                    input(type='checkbox', ng-model="filters.common")
                    .track
                        .handle

