<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <!--compiled css output -->
  <link href="css/ionic.app.css" rel="stylesheet">
  <!--ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <!--cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <!--your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
</head>
<body ng-app="eloquence">
  <ion-pane>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Eloquence</h1>
    </ion-header-bar>
    <ion-content ng-controller="SentenceCtrl" has-header="true" padding="true">
      <label class="item item-input">
        <textarea placeholder="Enter sentence" ng-model="sentenceInput"></textarea>
      </label>
      <button on-touch="callSentenceAPI()" class="button button-positive button-full">Go</button>
      <p class="sentence">{{getSentenceTransformed()}}</p>
      <div class="list">
        <div class="item item-divider">Parameters</div>
        <div class="item range"><span>Complexity</span>
          <input type="range" min="0" max="3" ng-model="filters.complexity">
        </div>
        <div class="item range"><span>Length</span>
          <input type="range" min="0" max="3" ng-model="filters.length">
        </div>
        <div class="item item-toggle"><span>Informal</span>
          <label class="toggle">
            <input type="checkbox" ng-model="filters.informal">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <div class="item item-toggle"><span>Common</span>
          <label class="toggle">
            <input type="checkbox" ng-model="filters.common">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</body>